html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Source Code Pro';
    font-size: 14pt;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #20242C;
}
#nofont {
  font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
}

a, a:hover, a:active {
    color: #C5CFDB;
    text-decoration: none;
}
li {
  list-style-type: none;
}
a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4pt;
}
hr {
  border-color: #3E4853;
  background-color: #3E4853;
}
#card {
    background-color: #20242C;
    vertical-align: middle;
}
.comments {
    color: #3E4853;
}
.red {
    color: #B04C58;
}
.blog {
    color: #C5735E;
}
.type {
    color: #D9BE53;
}
.string {
    color: #95B47B;
}
.twitter {
    color: #55ACEE;
}
.dribbble {
    color: #ea4c89;
}
.email {
    color: #70BEB7;
}
.method {
    color: #7D8FA3;
}
.github {
    color: #A57A9E;
}
.text {
    color: #B3B8C4;
}
.sigma  {
    color: #2BB99D;
}
.waterloo {
    color: #FFD54F;
}
