html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-font-color: #b5c0cd;
    --primary-font-color: #aaa;
    --secondary-font-color: #525252;
    --highlight-font-color: #fff;
    --background-color: #222;
    --yahoo-purple: #9239ff;
    --blur-bg-color: rgba(10, 15, 15, 0.75);
    --blur-border-color: rgba(255, 255, 255, 0.25);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --title-font-color: #5c6977;
    --primary-font-color: #5c6977;
    --secondary-font-color: #a4a4a4;
    --highlight-font-color: #28292e;
    --background-color: #e5eeee;
    --yahoo-purple: #5f01d1;
    --blur-bg-color: rgba(230, 240, 245, 0.5);
    --blur-border-color: rgba(0, 0, 0, 0.25);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15pt;
  background-color: var(--background-color);
  color: var(--primary-font-color);
  padding-bottom:48pt;
}

a, a:hover, a:active {
  color: #C5CFDB;
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:hover {
  background-color: rgba(130, 130, 130, 0.1);
  border-radius: 2pt;
}

.footer {
  font-size: 13pt;
  color: var(--primary-font-color);
  border-radius: 8pt;
  background-color: var(--blur-bg-color);
  padding: 12pt;
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 12pt);
  left: 50%;
  margin-left: -160pt;
  width: 320pt;
  box-shadow: 0pt 2pt 4pt 0pt rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(6px);
}

.section-title {
  padding-top: 16pt;
}

.content {
  padding-top: 24pt;
  padding-bottom: 24pt;
}

.code {
  font-family: 'Source Code Pro', monospace;
  font-size: 18pt;
}

.app-icon {
  border-radius: 25%; / 25%;
  margin-bottom: 10px
}

.company-logo {
  border-radius: 50%;
  scale: 50%;
  margin-bottom: 12px;
}

.app-description {
  margin: 4px;
  font-size: 14pt
}

.title {
  font-size: 30pt;
  font-weight: 800;
  color: var(--title-font-color);
}

.subtitle {
  font-size: 12pt;
  color: var(--secondary-font-color);
}

.name {
  color: var(--highlight-font-color);
}

.disclaimer {
  color: #999;
  font-size: 8pt;
}

/* Text Colours */

.red {
  color: #B04C58;
}

.string {
  color: #95B47B;
}

.highlight {
  color: var(--highlight-font-color);
  font-weight: 500;
}

.sigma {
  color: #2BB99D;
}

.splunk {
  color: #E6017E;
}

.waterloo {
  color: #E4B429;
}

.oath {
  color: #006CB6;
}

.yahoo {
  color: var(--yahoo-purple);
}

.blurry {
  color: #802ce6;
}

.confetti-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  overflow: hidden;
  position: fixed;
  display:block;
}


/* Social Buttons */

.btn {
  margin: 4px;
  padding: 8pt;
}

.btn-github {
  color: #fff;
  background-color: #6e5494;
  border-color: #6e5494
}

.btn-github:hover {
  color: #fff;
  background-color: #5e487d;
  border-color: #5e487d
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: #55acee
}

.btn-twitter:hover {
  color: #fff;
  background-color: #2e99eb;
  border-color: #2e99eb
}

.btn-email {
  color: #fff;
  background-color: #ffa767;
  border-color: #ffa767
}

.btn-email:hover {
  color: #fff;
  background-color: #eb9151;
  border-color: #eb9151
}

.btn-dribbble {
  color: #fff;
  background-color: #ea4c89;
  border-color: #ea4c89
}

.btn-dribbble:hover {
  color: #fff;
  background-color: #cf4379;
  border-color: #cf4379
}

.btn-resume {
  line-height: 36px;
  color: #fff;
  background-color: #29b69b;
  border-color: #29b69b;
}

.btn-resume:hover {
  line-height: 36px;
  color: #fff;
  background-color: #239d86;
  border-color: #239d86;
}

.btn-linkedin {
  color: #fff;
  background-color: #0077b5;
  border-color: #0077b5;
}

.btn-linkedin:hover {
  color: #fff;
  background-color: #0c5e88;
  border-color: #0c5e88;
}

.btn-appstore > img {
  padding-top: 4px;
}

.btn-appstore > :last-child {
  display: none;
}

.btn-appstore:hover > :first-child {
  display: none;
}

.btn-appstore:hover > :last-child  {
  display: inline;
}

.btn-instagram {
  color: #fff;
  background-color: #fb3958;
  border-color: #fb3958;
}

.trademark-footer {
  color: #aaa;
  padding:2pt;
  font-size: 10pt;
  font-style: italic;
  text-align: center;
}